<mat-toolbar color="primary">Online Stock Register Portal</mat-toolbar>
<!-- <mat-toolbar color="accent">
  <span>
    <a routerLink="/">Admin</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/bill-add" routerLinkActive="mat-primary" >Add Bill</a>
    </li>
    <li>
      <a mat-button routerLink="/bill-list" routerLinkActive="mat-primary" >Bill List</a>
    </li>
    <li>
      <a mat-button routerLink="/supplier-add" routerLinkActive="mat-primary" >Add Supplier</a>
    </li>
    <li>
      <a mat-button routerLink="/supplier-list" routerLinkActive="mat-primary" >Supplier List</a>
    </li>
    <li>
      <a mat-button routerLink="/signup" routerLinkActive="mat-primary" >Signup</a>
    </li>
  </ul>
</mat-toolbar> -->
