<mat-toolbar color="accent">
  <span>
    <a routerLink="/">User</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button>Change Password</a>
    </li>
    <li>
      <a mat-button routerLink="scan-qr" routerLinkActive="mat-primary" >Scan Qr</a>
    </li>
    <li>
      <a mat-button routerLink="searchbyslno" routerLinkActive="mat-primary" >SearchByslno</a>
    </li>
    <li>
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
<router-outlet></router-outlet>
